DB_NAME=iphoto
DB_USER=root
DB_PASS=
DB_HOST=127.0.0.1
PORT=3004

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

JWT_SECRET=your_jwt_secret

VOVOTAPESA_SECRET=your_vovotapesa_secret
WEBHOOK_URL=https://yourdomain.com/iphoto/api/webhook
USDT_RECIPIENT_ADDRESS=TXYZ1234567890...
